{% extends 'WebsiteBundle::layout.html.twig' %}

{% block header %}
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h1>Nuestra Misión y Visión</h1>
			<p class="lead">Overview of the project, its contents, and how to get started with a simple template.</p>
		</div>
	</header>
{% endblock %}

{% block content %}
	<div class="row">

		<div class="span2 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav"></ul>
		</div>
		
		<div class="span9">
			<section id="city-form">
				<h2>Misión</h2>
				<p class="lead">
					{% trans %}Proveer servicios de excelencia a nuestros clientes, ayudándoles a conseguir resultados tangibles y el mejor aprovechamiento de la inversión mostrando una visión de negocio de largo plazo que genere la confianza necesaria para convertirnos en verdaderos socios tecnológicos.{% endtrans %}
				</p>

				<h2>Visión de liderazgo</h2>
				<p class="lead">
					{% trans %}Somos líderes en el diseño y desarrollo de Soluciones Móviles de Servicios de Valor Agregado. Nuestros clientes reciben el mejor servicio de asesoramiento y seguimiento, y así disponen de las herramientas para desarrollar sus negocios de la manera más eficaz.{% endtrans %}
				</p>
			</section>
		</div>
		
	</div>
{% endblock %}