{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
 
{% block field %}
    <a href="{% path value, 'big' %}">
        <img src="{% path value, 'small' %}" />
        <br />
        {{ value }}
    </a>
{% endblock %}