{# copied from list_boolean.html.twig #}
<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}" style="text-align: center">
    {% spaceless %}
        {% if field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
            {% if value %}
                <a href="{{ url('sonata_admin_set_object_field_value', { 'context': 'list', 'field': field_description.name, 'objectId': admin.id(object), 'value': 0, 'code': admin.code(object) }) }}" class="sonata-ba-action sonata-ba-edit-inline">
                    <i class="icon-ok-circle"></i>
                    <br />
                    published
                </a>
            {% else %}
                <a href="{{ url('sonata_admin_set_object_field_value', { 'context': 'list', 'field': field_description.name, 'objectId': admin.id(object), 'value': 1, 'code': admin.code(object) }) }}" class="sonata-ba-action sonata-ba-edit-inline">
                    <i class="icon-ban-circle"></i>
                    <br />
                    draft
                </a>
            {% endif %}
        {% else %}
            {% if value %}
                    <i class="icon-ok-circle"></i>
                    <br />
                    published
            {% else %}
                    <i class="icon-ban-circle"></i>
                    <br />
                    draft
            {% endif %}
        {% endif %}
    {% endspaceless %}
</td>